name: Running Code Coverage

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x, 18.x, 20.x, 22.x, 24.x]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install dependencies
      run: npm install

    - name: Run tests
      run: npm run test

    - name: Upload coverage to Coveralls
      uses: coverallsapp/github-action@v2
      with:
        parallel: true
        flag-name: node-${{ matrix.node-version }}

  finish:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Close parallel build
      uses: coverallsapp/github-action@v2
      with:
        parallel-finished: true
